.modal-dialog {
	width:80%;
}

h2{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.doca tbody tr td{
	border-top: none;
}

.glyphicon{

cursor: pointer;

}

.popover {
	background-color: #CE2424;
    color: #FFFFFF;
}

.popover.top .arrow:after {
    border-top-color: #CE2424;
}

.popover-content {
    font-size: 12px;
    font-weight: bold;
}


.novo-estagio{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}


@media (max-width: 767px) {
	.container-fluid {width: 95%;}
	.alerta {position: relative; z-index: 1; margin-bottom: 20px;}
	.novo-estagio{width:100%;}
	h2{width: 100%;}
	.modal-dialog{width: 90%; margin-left: auto; margin-right: auto;}

}